html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	user-select: none;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

:root {
	--test: oklab(100% 0 -0.00011);
	--test-2: oklab(62.793% 0.22489 0.1258);
	--base-color: rgb(224, 217, 212);
	--base-color-2: rgb(180, 176, 173);
}


body {
	line-height: 1;
	background-color: rgb(from rgb(238, 139, 139) calc(r) calc());
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;

}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
	font-size: 11.3px;
	background-color: var(--base-color);
	background-color: #f4f4f4;
}


.container {
	max-width: 360px;
	min-height: calc(100% + 0px);
	margin: 0 auto;
	display: grid;
	height: 100vh;
	grid-template-rows: 1rem calc(100vh - 1rem);
}

.container header {
	border-left: 1px solid black;
	border-right: 1px solid black;

}




nav {

	display: flex;
	width: 100%;
	height: 1rem;


	flex-direction: row;
	justify-content: end;
	align-items: center;
}

nav label {
	height: in;
	display: flex;
	align-items: center;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;

	height: 100%;
	padding: 0 .5rem;
}

nav label:last-child {
	margin-right: 1rem;
}

nav label:hover {
	background-color: black;
	color: white;
	box-sizing: border-box;
	filter: brightness(.7);
}

/* main */
.container main {
	width: 100%;
	height: 100%;

	background-color: rgb(187, 119, 119);
	display: grid;
	grid-template-rows: 3fr 7fr;
	background-color: blue;
}

input#extends-calc {
	position: absolute;
	opacity: 0;
	pointer-events: none;
	z-index: -1;
}

input#extends-calc:checked~section[role="input"] {
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(7, 1fr);
	grid-template-areas:
		"sym-t sym-t sym-t sym-t sym-t"
		"sym-t sym-t sym-t sym-t sym-t"
		"sym-r op-top op-top op-top op-left"
		"sym-r num num num op-left"
		"sym-r num num num op-left"
		"sym-r num num num op-left"
		"sym-r num num num op-left";
}

input#extends-calc:not(:checked)~section[role="input"] div.sym-t,
input#extends-calc:not(:checked)~section[role="input"] div.sym-r {
	display: none;
}




section[role="input"] {
	width: 100%;
	height: 100%;


	display: grid;

	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-template-areas:
		"op-top op-top op-top op-left"
		"num num num op-left"
		"num num num op-left"
		"num num num op-left"
		"num num num op-left";
}




div.number {
	display: grid;
	grid-area: num;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	/* TAMBAHAN: Atur 4 baris untuk tombol angka */
}

div.sym-t {
	display: grid;
	grid-area: sym-t;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr);

}

div.sym-r {
	display: grid;
	grid-area: sym-r;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, 1fr);
}

div.op-left {
	display: grid;
	grid-area: op-left;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, 1fr);
}

div.op-top {
	display: grid;
	grid-area: op-top;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
}

section[role="input"] button {
	box-sizing: border-box;

	border: solid rgba(12, 23, 34, .3) 1px;
	outline: 0;
	box-shadow: inset -1px -1px 2px var(--base-color-2), inset -1px -1px 2px var(--base-color);
}

section[role="input"] button:hover {
	outline: solid black 1px;
	cursor: pointer;
	filter: brightness(.7);
}

section[role="input"] button:active {
	background-color: rgb(31, 31, 31);
	color: white;
}

div.op-top button,
div.op-left button {
	filter: brightness(.9);
}

button#eval {
	background-color: orangered;
}

button[role="AC"] {
	box-shadow: 0;
	background-color: rgb(206, 24, 0);
	color: white;
}

button[role="DEL"] {
	box-shadow: 0;
	background-color: rgb(117, 117, 117);
	color: #f4f4f4;
}


section[role="output"] {
	box-sizing: border-box;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
	display: flex;
}

section[role="output"] input:valid {
	outline: 0;
	border: 0;

}

section[role="output"] input {
	box-sizing: border-box;
	padding: 1rem;

	font-size: 8vh;
	color: rgb(185, 178, 178);
	border: 0;
	width: 100%;
	background-color: rgb(20, 20, 20);
}